.book-logo {
    width: 100%;
    height: 80%;
    padding: 20%;
    margin: 5%;
    position: relative;
}
.book-logo:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    color: orange;
    box-shadow:
    7em 1em,
    8em 1em,
    9em 1em,
    10em 1em,
    11em 1em,
    12em 1em,
    13em 1em,

    7em 2em,
    13em 2em,

    7em 3em,
    8em 3em,
    9em 3em,
    10em 3em,
    11em 3em,
    12em 3em,
    13em 3em,

    10em 4em,
    10em 5em,
    10em 6em,

    2em 7em,
    3em 7em,
    4em 7em,
    5em 7em,
    6em 7em,
    7em 7em,
    8em 7em,
    9em 7em,
    10em 7em,
    11em 7em,
    12em 7em,
    13em 7em,
    14em 7em,
    15em 7em,
    16em 7em,
    17em 7em,
    18em 7em,

    2em 8em,
    12em 8em,
    18em 8em,

    2em 9em,
    12em 9em,
    18em 9em,

    2em 10em,
    12em 10em,
    13em 10em,
    14em 10em,
    15em 10em,
    18em 10em,
    19em 10em,
    20em 10em,
    21em 10em,

    0em 11em,
    1em 11em,
    2em 11em,
    3em 11em,
    4em 11em,
    12em 11em,
    14em 11em,
    15em 11em,
    20em 11em,
    21em 11em,

    0em 12em,
    4em 12em,
    5em 12em,
    6em 12em,
    12em 12em,

    0em 13em,
    1em 13em,
    2em 13em,
    3em 13em,
    4em 13em,
    6em 13em,
    12em 13em,
    13em 13em,
    14em 13em,
    15em 13em,

    1em 14em,
    6em 14em,
    7em 14em,
    8em 14em,
    9em 14em,
    12em 14em,
    14em 14em,
    15em 14em,

    1em 15em,
    6em 15em,
    8em 15em,
    9em 15em,
    12em 15em,

    1em 16em,
    2em 16em,
    3em 16em,
    4em 16em,
    6em 16em,
    12em 16em,
    13em 16em,
    14em 16em,
    15em 16em,

    1em 17em,
    3em 17em,
    4em 17em,
    6em 17em,
    7em 17em,
    8em 17em,
    9em 17em,
    14em 17em,
    15em 17em,

    1em 18em,
    8em 18em,
    9em 18em,

    1em 19em,
    2em 19em,
    3em 19em,
    4em 19em,

    1em 20em,
    3em 20em,
    4em 20em,

    1em 21em,

    1em 22em,
    2em 22em,
    3em 22em,
    4em 22em,

    3em 23em,
    4em 23em;

}
