# Ignore LaTeX compile byproduct files #
########################################

*.aux
*.bbl
*.blg
cache/*
.DS_Store
figure/*
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.pdf
*.RData
.Ristory
*.tex

# Don't ignore these files
!Children/FrontMatter/AdditionalResources/imagesExamp/ExampDiagram.tex
!Children/FrontMatter/AdditionalResources/imagesExamp/FileTree.tex
!Children/Chapter2/images2/WorkFlowLinks.tex
!Children/Chapter3/images3/KnitrProcess.tex
!Children/Chapter4/images4/ExampleFilePath.tex
